*{
    padding: 0%;
    margin: 0%;
}

.container{
    display: flex;
    background-color: yellow;
    width: 100%;
    height: 400px;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}


.purple{
    background-color: purple;
    width: 100px;
    height: 100px;
    margin-right: 5px;
}